
<nav class="navbar navbar-inverse navbar-fixed-top">

<div class="navbar-header">

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
  </button>

  <a class="navbar-brand" href="/">ESRGC</a>

</div>

<div class="collapse navbar-collapse" id="myNavbar">

  <ul class="nav navbar-nav">
    <li><a href="/about">About</a></li>
    <li><a href="/data">Data</a>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><input class="form-control" type="text" placeholder="Search"></input></li>
  </ul>
</div>
</nav>
<br><br><br>
<br>
