{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/dashboard-style.css">
<link rel="stylesheet" type="text/css" href="build/vendor-style.css">
{{/contentFor}}


<div id="wrapper">
	<h1>ESRGC 2.0 <small>(Under Construction)</small></h1>


<div class="container">

		<div class="row">

			<div class="col-sm-4">
				<h3 class="bg-primary">Something here</h3>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

			<div class="col-sm-4">
				<h3 class="bg-danger">Something else</h3>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

			<div class="col-sm-4">
				<h3 class="alert alert-warning">Something else</h3>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</div>

		</div>

</div>
</div>

{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/dashboard-bundle.js"></script>
{{/contentFor}}
