{{#contentFor 'customCSS'}}
<link rel="stylesheet" type="text/css" href="build/dashboard-style.css">
<link rel="stylesheet" type="text/css" href="build/vendor-style.css">
{{/contentFor}}


<div id="wrapper">
	<h1>ESRGC 2.0 <small>(Under Construction)</small></h1>
</div>

<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3 class="alert alert-success">Something here</h3>
			</div>
			<div class="col-sm-4">
				<h3 class="alert alert-danger">Something else</h3>
			</div>
			<div class="col-sm-4">
				<h3 class="alert alert-warning">Something else</h3>
			</div>
		</div>

</div>


{{#contentFor 'scripts'}}
<script type="text/javascript" src="build/vendor-bundle.js"></script>
<script type="text/javascript" src="build/dashboard-bundle.js"></script>
{{/contentFor}}
